@import "variables";

.contBtnWatts{
    width: 140px;
    padding: 5px 10px;
    position:fixed;
    bottom: 80px;
    left: 20px;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;

    .iconWatt{
        font-size: 30px;
        color: rgba(78, 242, 89, 0.66);
    }

    .contBtnWatts_text{
        color:$colorAzul;
        font-weight: 600;
    }
}







