@import "variables";


//////////BLOCK HEADER ESTILOS CLONADOS DE INDEX//////////////////////////
//////////BLOCK HEADER ESTILOS CLONADOS DE INDEX//////////////////////////
//////////BLOCK HEADER ESTILOS CLONADOS DE INDEX//////////////////////////



.containerContact{
    width: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
    background: rgb(255, 255, 255);
    position: relative;

    //BLOCK CONTACT BIG
    .containerContactBig{
        width: 85%;
        padding: 120px 0px;
        background:$colorAzulOscuro;
        margin: auto;
        position: relative;
        //BLOCK TOP
        .containerContact_blockSup{
            width: 100%;
            //background: rgba(0, 128, 128, 0.34); 
            margin: auto;
            position: absolute;
            top: -90px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .containerContact_blockSup_box{
                 width: 170px;
                 height: 150px;
                 padding-top: 65px;
                 text-align: center;
                 background: $colorAzul;
                 position: relative;

                 //BLOCK IMAGE
                 .containerContact_blockSup_box_img{
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    box-shadow: 0px 0px 5px $colorVerde;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background:$colorAzul;
                    position: absolute;
                    top: -30px;
                    left: calc(50% - 30px);
                    .iconContact{
                        font-size: 25px;
                        color: rgb(255, 255, 255);
                    }
                 }

                 //BLOCK TITLE
                 .containerContact_blockSup_box_title{
                    color:$colorVerde;
                 }

                 //BLOCK PARRAFO
                 .containerContact_blockSup_box_Parrafo{
                    color:white;
                    font-size: 15px;
                 }
                 
            }
        }

        //BLOCK FORM
        .containerContact_form{
            width: 80%;
            margin: auto;
            padding: 10px 0px;
            position: relative;
            z-index: 100;
            .containerContact_form_caja{
                width: 100%;
                padding: 10px 0px;
                background:transparent;
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .input{
                    width: 48%;
                    background: transparent;
                    border: none;
                    box-shadow:0px 1px 0px $colorVerde;
                    color: white;
                    padding: 10px 0px;
                    outline: none;
                }
                

                textarea{
                    width: 100%;
                    background: transparent;
                    padding: 10px 0px;
                    border: none;
                    color: white;
                    box-shadow:0px 1px 0px $colorVerde;
                    outline:none;
                    resize: none;
                }
            }
            .button{
                width: 200px;
                padding: 6px 0px;
                border-radius: 5px;
                border: 2px solid $colorVerde;
                background-color:$colorVerde;
                color:$colorAzulOscuro;
                margin-top: 50px;
                margin-left:calc(50% - 100px) ;
                cursor: pointer;
                transition: 0.2s all;
            }
            .button:hover{
                background-color:$colorAzul;
                color: $colorVerde;
            }
            
        }
    }


    //BLOCK INTERROGATION
    .containerContactInterrogacion{
        width: 400px;
        height: 400px;
        position: absolute;
        bottom:250px;
        right: 100px;
        opacity: 0.2;
    }
    
}



//////////BLOCK FOOTER ESTILOS CLONADOS DE INDEX//////////////////////////
//////////BLOCK FOOTER ESTILOS CLONADOS DE INDEX//////////////////////////
//////////BLOCK FOOTER ESTILOS CLONADOS DE INDEX//////////////////////////














////////////////////////////////////////@at-root
/// 
/// 
////////////////////////////////////////

@media (min-width:320px) and (max-width:423px){
    .containerContact{
        width: 100%;
        padding-top: 30px;
        padding-bottom: 40px;
        .containerContactBig{
            width: 95%;
            padding: 50px 0px;
            background:$colorAzulOscuro;
            margin: auto;
            position: initial;
            .containerContact_blockSup{
                width: 100%;
                padding: 10px 0px;
                //background: rgba(0, 128, 128, 0.34); 
                margin: auto;
                position: initial;
                top: initial;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .containerContact_blockSup_box{
                     width: 80%;
                     height: 130px;
                     padding-top: 65px;
                     text-align: center;
                     background: $colorAzul;
                     position: relative;
                     margin-bottom: 50px;
    
                     //BLOCK IMAGE
                     .containerContact_blockSup_box_img{
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        box-shadow: 0px 0px 5px $colorVerde;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background:$colorAzul;
                        position: absolute;
                        top: -30px;
                        left: calc(50% - 30px);
                        .iconContact{
                            font-size: 25px;
                            color: rgb(255, 255, 255);
                        }
                     }
    
                     //BLOCK TITLE
                     .containerContact_blockSup_box_title{
                        color:$colorVerde;
                     }
    
                     //BLOCK PARRAFO
                     .containerContact_blockSup_box_Parrafo{
                        color:white;
                        font-size: 15px;
                     }
                     
                }
            }
    
    
            .containerContact_form{
                width: 100%;
                margin: auto;
                padding: 10px 0px;
                .containerContact_form_caja{
                    width: 100%;
                    padding: 10px 0px;
                    background:transparent;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    .input{
                        width: 90%;
                        border: none;
                        box-shadow:0px 1px 0px $colorVerde;
                        color: white;
                        padding: 10px;
                        outline: none;
                    }
                    
    
                    textarea{
                        width: 90%;
                        background: transparent;
                        padding: 10px;
                        border: none;
                        color: white;
                        resize: none;
                        box-shadow:0px 1px 0px $colorVerde;
                        outline:none;
                        
                    }
                }
                .button{
                    width: 180px;
                    padding: 5px 0px;
                    border-radius: 5px;
                    border: 2px solid $colorVerde;
                    background-color:$colorVerde;
                    color:$colorAzulOscuro;
                    margin-top: 50px;
                    margin-left:calc(50% - 90px) ;
                    cursor: pointer;
                    transition: 0.2s all;
                }
                .button:hover{
                    background-color:$colorAzul;
                    color: $colorVerde;
                }
                
            }
        }


        //BLOCK INTERROGATION
        .containerContactInterrogacion{
            width: 400px;
            height: 400px;
            position: absolute;
            bottom:250px;
            right: -60px;
        }
        
    } 
}



//https://www.youtube.com/watch?v=bz2VafaW7Ps