@import "variables";



.main__under{
    width: 100%;
    height: 600px;
    max-width: 1440px;
    margin: auto;
    background-image: url(../image/C2.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    .under__base{
        width: 100%;
        height: 100%;
        padding: 10px 0px;
        background:$colorAzul;
        position: relative;
        .under__description{
            width: 500px;
            padding:10px 0px ;
            margin-left: 100px;
            margin-top: 100px;
            position: relative;
            z-index: 100;
            .under__title{
                color: $colorVerde;
                font-size:90px;
                font-weight: 600;
                line-height: 90px;
            }
            .under__text{
                width:60%;
                margin-top: 20px;
                color:white;
                font-size: 30px;
                line-height: 35px;
                font-weight: 300;
            }
        }

        .under__image{
            width: 650px;
            height: 550px;
            padding: 10px 0px;
            position: absolute;
            right: 100px;
            top: 20px;
            animation-name: moverImage;
            animation-duration: 2s;
            animation-timing-function:linear;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        @keyframes moverImage {
            from{
                transform: translateY(-5px);
            }to{
                transform: translateY(5px);
            }
        }
    }
    
}