@import "variables";


/*****SE ESTAN COPIANDO LOS ESTILOS HEADER DE INDEX************/
/*****SE ESTAN COPIANDO LOS ESTILOS HEADER DE INDEX************/
/*****SE ESTAN COPIANDO LOS ESTILOS HEADER DE INDEX************/




.containerHeaderContServicios{
    margin-top: 80px;
    width: 100%;
    padding: 30px 0px;
    background:#11182b;
    //BLOCK BANNER
    .container_banner{
        width: 100%;
        position: relative;
       
        .fondo_banner{
            width: 100%;
            height: 400px;
        }
        
        .banner_text{
            width: 100%;
            height: 400px;
            background: $colorAzulTransparente;
            display: flex;
            justify-content: center;
            align-items:center;
            position: absolute;
            top:0px;
            .containerHeaderContServicios_banner_title{
                color: white;
                font-size: 100px;
            }
        }
        
    }


    //BLOCK INFO
    .containerHeaderContServicios_info{
        width: 100%;
        //background: #10182b;
        padding-top: 150px;
        padding-bottom: 0px;

        .containerHeaderContServicios_info_title{
            font-size: 50px;
            text-align: center;
            color:$colorVerde;
            text-shadow: 0px 1px 0px $colorAzul;
        }
        .containerHeaderContServicios_info_descrpcion{
            width: 80%;
            margin: auto;
            padding: 10px 0px;
            text-align: center;
            color: white;
            font-size: 25px;
        }
        .containerHeaderContServicios_info_img{
            margin: 30px auto;
            width: 80%;
        }
    }



    
    //BLOCK REFERENCIAS
    .containerRef{
        width: 700px;
        padding: 10px;
        background:transparent;
        margin: 50px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .containerRef_box{
            width: 200px;
            padding: 15px;
            border: 1.5px solid $colorVerde;
            border-radius: 3px;
            margin-bottom: 10px;
            transition: 0.1s all;
            .containerRef_box_image{
                width: 80px;
                height: 80px;
                margin: auto;
            }

            .containerRef_box_text{
                color: white;
                text-align: center;
            }
        }

        .containerRef_box:hover{
            transform: scale(1.02);
            box-shadow: 0px 0px 8px $colorVerde;

        }
    }
    


    //BLOCK CONTENEDOR SERVICIOS
    //TIPE BLOCK A
    .containerServices{
        width: 100%;
        padding: 10px 0px;
        background:#11182b;
        .containerServices_boxA{
            width: 90%;
            margin: auto;
            padding: 100px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .containerServices_boxA_image{
                width: 450px;
                height: 450px;
            }

            .containerServices_boxA_text{
                width: 600px;
                padding:10px;
                .containerServices_boxA_text_title{
                    color: $colorVerde;
                    font-size: 35px;
                    font-weight: 600;

                }

                .containerServices_boxA_text_text{
                    width: 80%;
                    margin-top: 20px;
                    color: white;
                }
            }

        }
    }

    //TIPE BLOCK B
    .containerServices{
        width: 100%;
        padding: 10px 0px;
        background:#11182b;
        .containerServices_boxB{
            width: 90%;
            margin: auto;
            padding: 100px 0px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            .containerServices_boxB_image{
                width: 450px;
                height: 450px;
            }

            .containerServices_boxB_text{
                width: 600px;
                padding:10px;
                .containerServices_boxB_text_title{
                    color: $colorVerde;
                    font-size: 35px;
                    font-weight: 600;

                }

                .containerServices_boxB_text_text{
                    width: 80%;
                    margin-top: 20px;
                    color: white;
                }
            }

        }
    }


    //BLOCK PORQUE TENER WEB
    .containerWeb{
        margin-top: 100px;
        width: 100%;
        padding: 10px 0px;
        .containerWeb_title{
            width: 45%;
            line-height: 40px;
            color: $colorVerde;
            font-size: 40px;
            margin: auto;
            text-align: center;
        }

        .containerWeb_description{
            width: 70%;
            margin: 30px auto;
            text-align: center;
            color: white;
        }

        .containerWeb_block{
            width: 90%;
            margin: 50px auto;
            height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .containerWeb_image{
                width: 500px;
                height: 400px;
            }
    
            .containerWeb_box1{
                width: 200px;
                height: 200px;
                padding: 20px;
                position: absolute;
                border:2px solid $colorVerde;
                border-radius: 5px 5px 50px 5px;
                top: 50px;
                left: 100px;
                background: $colorAzul;
                .containerWeb_box_number{
                    width: 40px;
                    height: 40px;
                    color:white;
                    font-size: 25px;
                    background: $colorAzul;
                    border: 2px solid $colorVerde;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: -20px;
                    right: -20px;
                }
                .containerWeb_box_text{
                    color:white;
                    font-size: 20px;
    
                }
                .containerWeb_box_desc{
                    margin-top: 6px;
                    color:$colorCelesteOscuro;
                    font-size: 14px;
                }
            }
    
            .containerWeb_box2{
                width: 200px;
                height: 200px;
                padding: 20px;
                border:2px solid $colorVerde;
                border-radius: 5px 5px 50px 5px;
                position: absolute;
                top: 300px;
                left: 80px;
                background: $colorAzul;
                .containerWeb_box_number{
                    width: 40px;
                    height: 40px;
                    background: $colorAzul;
                    color:white;
                    font-size: 25px;
                    border: 2px solid $colorVerde;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: -20px;
                    right: -20px;
                }
                .containerWeb_box_text{
                    color:white;
                    font-size: 20px;
    
                }
                .containerWeb_box_desc{
                    margin-top: 6px;
                    color:$colorCelesteOscuro;
                    font-size: 14px;
                }
            }

            .containerWeb_box3{
                width: 200px;
                height: 200px;
                padding: 20px;
                border:2px solid $colorVerde;
                border-radius: 5px 5px 5px 50px;
                position: absolute;
                top: 50px;
                right: 100px;
                background: $colorAzul;
                .containerWeb_box_number{
                    width: 40px;
                    height: 40px;
                    background: $colorAzul;
                    color:white;
                    font-size: 25px;
                    border: 2px solid $colorVerde;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: -20px;
                    right: -20px;
                }
                .containerWeb_box_text{
                    color:white;
                    font-size: 20px;
    
                }
                .containerWeb_box_desc{
                    margin-top: 6px;
                    color:$colorCelesteOscuro;
                    font-size: 14px;
                }
            }

            .containerWeb_box4{
                width: 200px;
                height: 200px;
                padding: 20px;
                border:2px solid $colorVerde;
                border-radius: 5px 5px 5px 50px;
                position: absolute;
                top: 300px;
                right: 80px;
                background: $colorAzul;
                .containerWeb_box_number{
                    width: 40px;
                    height: 40px;
                    color:white;
                    background: $colorAzul;
                    font-size: 25px;
                    border: 2px solid $colorVerde;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: -20px;
                    right: -20px;
                }
                .containerWeb_box_text{
                    color:white;
                    font-size: 20px;
    
                }
                .containerWeb_box_desc{
                    margin-top: 6px;
                    color:$colorCelesteOscuro;
                    font-size: 14px;
                }
            }
    
            
        }

        .containerWeb_blockArticle{
            width: 100%;
            padding: 10px 0px;
            .containerWeb_blockArticle_title{
                width: 50%;
                line-height: 40px;
                color: $colorVerde;
                font-size: 35px;
                text-align: center;
                margin: 30px auto;
            }

            .containerWeb_blockArticle_block{
                width: 90%;
                padding: 10px 0px;
                margin: 20px auto;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                .containerWeb_blockArticle_box{
                    width:45%;
                    padding: 5px;
                    .containerWeb_blockArticle_box_p{
                        color: white;
                        text-align: justify;
                    }
                }
                

            }
        }
    }
}










@media (min-width:1025px)  and (max-width:1200px){
    .containerHeaderContServicios{
        margin-top: 80px;
        width: 100%;
        padding: 30px 0px;
        background: #10182b;
        //BLOCK BANNER
        .container_banner{
            width: 100%;
            position: relative;
           
            .fondo_banner{
                width: 100%;
                height: 400px;
            }
            
            .banner_text{
                width: 100%;
                height: 400px;
                background: $colorAzulTransparente;
                display: flex;
                justify-content: center;
                align-items:center;
                position: absolute;
                top:0px;
                .containerHeaderContServicios_banner_title{
                    color: white;
                    font-size: 100px;
                }
            }
            
        }
    
    
        //BLOCK INFO
        .containerHeaderContServicios_info{
            width: 100%;
            //background: #10182b;
            padding-top: 150px;
            padding-bottom: 0px;
    
            .containerHeaderContServicios_info_title{
                font-size: 50px;
                text-align: center;
                color:$colorCelesteOscuro;
                text-shadow: 0px 1px 0px $colorAzul;
            }
            .containerHeaderContServicios_info_descrpcion{
                width: 80%;
                margin: auto;
                padding: 10px 0px;
                text-align: center;
                color: white;
                font-size: 20px;
            }
            .containerHeaderContServicios_info_img{
                margin: 30px auto;
                width: 80%;
            }
        }
        
    
    
        //BLOCK CONTENEDOR SERVICIOS
        .containerHeaderContServicios_contCuadros{
            margin: 0px auto;
            width: 100%;
            background-image: url(../image/banner.jpg);
            background-size: 100% 100%;
            background-attachment: fixed;
            #contBase{
                background: $colorAzulTransparente;
                //overflow: hidden;
              
                .containerBaseCuadros{  
                    width: 100%;
                    padding: 50px 0px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    .contCuadro{
                        width: 23%;
                        background: $colorAzul;
                        border-radius: 5px;
                        //border: 5px solid $colorBlack;
                        box-shadow: 0px 0px 10px white;
                        margin:10px auto;
                        position: relative;
                        overflow: hidden;
                        animation-duration: 3s;
                        .contCuadro_imagen{
                            width: 100%;
                            background-image: url(../image/SERVICIOS/DISEÑO_GRAFICO.png);
                            background-size: 100% 100%;
                            transition: 0.5s all;
                        }
                        
                        .contCuadro_descripcion{   //cuadro de ensima superior
                            width: 100%;
                            height: 100%;
                            padding: 20px;
                            position: absolute;
                            top: 0;
                            transition: 0.5s all;
                            .contCuadro_title{
                                width: 150px;
                                height: 40px;
                                margin: auto ;
                                text-align: center;
                                text-transform: uppercase;
                                line-height: 25px;
                                color: $colorVerde;
                                line-height: 20px;
                                font-size: 18px;
                            }
                            
                            .contCuadro_parrafo{
                                text-align: center;
                                margin-top: 20px;
                                transform: translateY(180px);
                                opacity: 0;
                                color: white;
                                transition: 0.2s all;
                                font-size: 16px;
                                
                            }   
            
                        }
                    }
                   
                }
        
            }
        }
    }
}






@media (min-width:900px)  and (max-width:1024px){
    .containerHeaderContServicios{
        margin-top: 80px;
        width: 100%;
        padding: 30px 0px;
        background: #10182b;
        //BLOCK BANNER
        .container_banner{
            width: 100%;
            position: relative;
           
            .fondo_banner{
                width: 100%;
                height: 400px;
            }
            
            .banner_text{
                width: 100%;
                height: 400px;
                background: $colorAzulTransparente;
                display: flex;
                justify-content: center;
                align-items:center;
                position: absolute;
                top:0px;
                .containerHeaderContServicios_banner_title{
                    color: white;
                    font-size: 100px;
                }
            }
            
        }
    
    
        //BLOCK INFO
        .containerHeaderContServicios_info{
            width: 100%;
            //background: #10182b;
            padding-top: 150px;
            padding-bottom: 0px;
    
            .containerHeaderContServicios_info_title{
                font-size: 45px;
                text-align: center;
                color:$colorCelesteOscuro;
                text-shadow: 0px 1px 0px $colorAzul;
            }
            .containerHeaderContServicios_info_descrpcion{
                width: 80%;
                margin: auto;
                padding: 10px 0px;
                text-align: center;
                color: white;
                font-size: 18px;
            }
            .containerHeaderContServicios_info_img{
                margin: 30px auto;
                width: 80%;
            }
        }
        
    
    
        //BLOCK CONTENEDOR SERVICIOS
        .containerHeaderContServicios_contCuadros{
            margin: 0px auto;
            width: 100%;
            background-image: url(../image/banner.jpg);
            background-size: 100% 100%;
            background-attachment: fixed;
            #contBase{
                background: $colorAzulTransparente;
                //overflow: hidden;
              
                .containerBaseCuadros{  
                    width: 100%;
                    padding: 50px 0px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    .contCuadro{
                        width: 30%;
                        background: $colorAzul;
                        border-radius: 5px;
                        //border: 5px solid $colorBlack;
                        box-shadow: 0px 0px 10px white;
                        margin:10px auto;
                        position: relative;
                        overflow: hidden;
                        animation-duration: 3s;
                        .contCuadro_imagen{
                            width: 100%;
                            background-image: url(../image/SERVICIOS/DISEÑO_GRAFICO.png);
                            background-size: 100% 100%;
                            transition: 0.5s all;
                        }
                        
                        .contCuadro_descripcion{   //cuadro de ensima superior
                            width: 100%;
                            height: 100%;
                            padding: 30px;
                            position: absolute;
                            top: 0;
                            transition: 0.5s all;
                            .contCuadro_title{
                                width: 150px;
                                height: 40px;
                                margin: auto ;
                                text-align: center;
                                text-transform: uppercase;
                                line-height: 25px;
                                color: $colorVerde;
                                line-height: 20px;
                                font-size: 18px;
                            }
                            
                            .contCuadro_parrafo{
                                text-align: center;
                                margin-top: 20px;
                                transform: translateY(180px);
                                opacity: 0;
                                color: white;
                                transition: 0.2s all;
                                font-size: 16px;
                                
                            }   
            
                        }
                    }
                   
                }
        
            }
        }
    }
}






@media (min-width:641px)  and (max-width:899px){
    .containerHeaderContServicios{
        margin-top: 80px;
        width: 100%;
        padding: 30px 0px;
        background: #10182b;

        //BLOCK BANNER
        .container_banner{
            width: 100%;
            position: relative;
           
            .fondo_banner{
                width: 100%;
                height: 400px;
            }
            
            .banner_text{
                width: 100%;
                height: 400px;
                background: $colorAzulTransparente;
                display: flex;
                justify-content: center;
                align-items:center;
                position: absolute;
                top:0px;
                .containerHeaderContServicios_banner_title{
                    color: white;
                    font-size: 100px;
                }
            }
            
        }
    
    
        //BLOCK INFO
        .containerHeaderContServicios_info{
            width: 100%;
            //background: #10182b;
            padding-top: 100px;
            padding-bottom: 0px;
    
            .containerHeaderContServicios_info_title{
                font-size: 40px;
                text-align: center;
                color:$colorCelesteOscuro;
                text-shadow: 0px 1px 0px $colorAzul;
            }
            .containerHeaderContServicios_info_descrpcion{
                width: 80%;
                margin: auto;
                padding: 10px 0px;
                text-align: center;
                color: white;
                font-size: 16px;
            }
            .containerHeaderContServicios_info_img{
                margin: 30px auto;
                width: 100%;
            }
        }
        
    
    
        //BLOCK CONTENEDOR SERVICIOS
        .containerHeaderContServicios_contCuadros{
            margin: 0px auto;
            width: 100%;
            background-image: url(../image/banner.jpg);
            background-size: 100% 100%;
            background-attachment: fixed;
            #contBase{
                background: $colorAzulTransparente;
                //overflow: hidden;
              
                .containerBaseCuadros{  
                    width: 100%;
                    padding: 50px 0px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    .contCuadro{
                        width: 40%;
                        background: $colorAzul;
                        border-radius: 5px;
                        //border: 5px solid $colorBlack;
                        box-shadow: 0px 0px 10px white;
                        margin:10px auto;
                        position: relative;
                        overflow: hidden;
                        animation-duration: 3s;
                        .contCuadro_imagen{
                            width: 100%;
                            background-image: url(../image/SERVICIOS/DISEÑO_GRAFICO.png);
                            background-size: 100% 100%;
                            transition: 0.5s all;
                        }
                        
                        .contCuadro_descripcion{   //cuadro de ensima superior
                            width: 100%;
                            height: 100%;
                            padding: 30px;
                            position: absolute;
                            top: 0;
                            transition: 0.5s all;
                            background: $colorAzulTransparente;
                            .contCuadro_title{
                                width: 150px;
                                height: 50px;
                                margin: auto ;
                                text-align: center;
                                text-transform: uppercase;
                                line-height: 25px;
                                color: $colorVerde;
                                line-height: 20px;
                                font-size:20px;
                            }
                            
                            .contCuadro_parrafo{
                                text-align: center;
                                margin-top: 10px;
                                transform: translateY(0px);
                                opacity: 1;
                                color: white;
                                transition: 0.2s all;
                                font-size: 16px;
                                
                            }   
            
                        }
                    }
                   
                }
        
            }
        }
    }
}







@media (min-width:481px)  and (max-width:640px){
    .containerHeaderContServicios{
        margin-top: 80px;
        width: 100%;
        padding: 30px 0px;
        background: #10182b;
        //BLOCK BANNER
        .container_banner{
            width: 100%;
            position: relative;
           
            .fondo_banner{
                width: 100%;
                height: 400px;
            }
            
            .banner_text{
                width: 100%;
                height: 400px;
                background: $colorAzulTransparente;
                display: flex;
                justify-content: center;
                align-items:center;
                position: absolute;
                top:0px;
                .containerHeaderContServicios_banner_title{
                    color: white;
                    font-size: 100px;
                }
            }
            
        }
    
    
        //BLOCK INFO
        .containerHeaderContServicios_info{
            width: 100%;
            //background: #10182b;
            padding-top: 100px;
            padding-bottom: 0px;
    
            .containerHeaderContServicios_info_title{
                font-size: 35px;
                text-align: center;
                color:$colorCelesteOscuro;
                text-shadow: 0px 1px 0px $colorAzul;
                line-height: 38px;
            }
            .containerHeaderContServicios_info_descrpcion{
                width: 80%;
                margin: auto;
                padding: 10px 0px;
                text-align: center;
                color: white;
                font-size: 16px;
            }
            .containerHeaderContServicios_info_img{
                margin: 30px auto;
                width: 100%;
            }
        }
        
    
    
        //BLOCK CONTENEDOR SERVICIOS
        .containerHeaderContServicios_contCuadros{
            margin: 0px auto;
            width: 100%;
            background-image: url(../image/banner.jpg);
            background-size: 100% 100%;
            background-attachment: fixed;
            #contBase{
                background: $colorAzulTransparente;
                //overflow: hidden;
              
                .containerBaseCuadros{  
                    width: 100%;
                    padding: 50px 0px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    .contCuadro{
                        width: 45%;
                        background: $colorAzul;
                        border-radius: 5px;
                        //border: 5px solid $colorBlack;
                        box-shadow: 0px 0px 10px white;
                        margin:10px auto;
                        position: relative;
                        overflow: hidden;
                        animation-duration: 3s;
                        .contCuadro_imagen{
                            width: 100%;
                            background-image: url(../image/SERVICIOS/DISEÑO_GRAFICO.png);
                            background-size: 100% 100%;
                            transition: 0.5s all;
                        }
                        
                        .contCuadro_descripcion{   //cuadro de ensima superior
                            width: 100%;
                            height: 100%;
                            padding: 15px;
                            position: absolute;
                            top: 0;
                            transition: 0.5s all;
                            background: $colorAzulTransparente;
                            .contCuadro_title{
                                width: 150px;
                                height: 40px;
                                margin: auto ;
                                text-align: center;
                                text-transform: uppercase;
                                line-height: 25px;
                                color: $colorVerde;
                                line-height: 20px;
                                font-size:18px;
                            }
                            
                            .contCuadro_parrafo{
                                text-align: center;
                                margin-top: 10px;
                                transform: translateY(0px);
                                opacity: 1;
                                color: white;
                                transition: 0.2s all;
                                font-size: 16px;
                                
                            }   
            
                        }
                    }
                   
                }
        
            }
        }
    }
}





@media (min-width:320px)  and (max-width:480px){
    .containerHeaderContServicios{
        margin-top: 80px;
        width: 100%;
        padding: 30px 0px;
        background: #10182b;
        //BLOCK BANNER
        .container_banner{
            width: 100%;
            position: relative;
           
            .fondo_banner{
                width: 100%;
                height: 400px;
            }
            
            .banner_text{
                width: 100%;
                height: 400px;
                background: $colorAzulTransparente;
                display: flex;
                justify-content: center;
                align-items:center;
                position: absolute;
                top:0px;
                .containerHeaderContServicios_banner_title{
                    color: white;
                    font-size: 80px;
                }
            }
            
        }
    
    
        //BLOCK INFO
        .containerHeaderContServicios_info{
            width: 100%;
            //background: #10182b;
            padding-top: 80px;
            padding-bottom: 0px;
    
            .containerHeaderContServicios_info_title{
                width: 90%;
                margin: auto;
                font-size: 30px;
                text-align: center;
                color:$colorCelesteOscuro;
                text-shadow: 0px 1px 0px $colorAzul;
                line-height: 38px;
            }
            .containerHeaderContServicios_info_descrpcion{
                width: 80%;
                margin: auto;
                padding: 10px 0px;
                text-align: center;
                color: white;
                font-size: 18px;
            }
            .containerHeaderContServicios_info_img{
                margin: 30px auto;
                width: 100%;
            }
        }
        
    
    
        //BLOCK CONTENEDOR SERVICIOS
        .containerHeaderContServicios_contCuadros{
            margin: 0px auto;
            width: 100%;
            background-image: url(../image/banner.jpg);
            background-size: 100% 100%;
            background-attachment: fixed;
            #contBase{
                background: $colorAzulTransparente;
                //overflow: hidden;
              
                .containerBaseCuadros{  
                    width: 100%;
                    padding: 50px 20px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap:initial;
                    justify-content: space-around;
                    align-items: center;
                    .contCuadro{
                        width: 100%;
                        background: $colorAzul;
                        border-radius: 5px;
                        //border: 5px solid $colorBlack;
                        box-shadow: 0px 0px 10px white;
                        margin:10px auto;
                        position: relative;
                        overflow: hidden;
                        animation-duration: 3s;
                        .contCuadro_imagen{
                            width: 100%;
                            background-image: url(../image/SERVICIOS/DISEÑO_GRAFICO.png);
                            background-size: 100% 100%;
                            transition: 0.5s all;
                        }
                        
                        .contCuadro_descripcion{   //cuadro de ensima superior
                            width: 100%;
                            height: 100%;
                            padding: 40px;
                            position: absolute;
                            top: 0;
                            transition: 0.5s all;
                            background:$colorAzulTransparente;

                            .contCuadro_title{
                                width: 150px;
                                height: 50px;
                                margin: auto ;
                                text-align: center;
                                text-transform: uppercase;
                                color: $colorVerde;
                                line-height: 25px;
                                font-size:24px;
                            }
                            
                            .contCuadro_parrafo{
                                text-align: center;
                                margin-top: 10px;
                                transform: translateY(0px);
                                opacity: 1;
                                color: white;
                                transition: 0.2s all;
                                font-size: 18px;
                                
                            }   
            
                        }
                    }
                   
                }
        
            }
        }
    }
}











/*****SE ESTAN COPIANDO LOS ESTILOS FOOTER DE INDEX************/
/*****SE ESTAN COPIANDO LOS ESTILOS FOOTER DE INDEX************/
/*****SE ESTAN COPIANDO LOS ESTILOS FOOTER DE INDEX************/











