@import "variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 16px;
}
    /*   200    700
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    */

    /*100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    */



a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    scroll-behavior:unset;
    
}

body::-webkit-scrollbar{
    width: 15px;
    
}
body::-webkit-scrollbar-thumb{
    background: $colorAzulOscuro;
    height: 100px;
}
body::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
}



@import "variables";
@import "about";
@import "servicios";
@import "blog";
@import "contacto";
@import "switchAlert";
@import "mantenimiento";

@import "btnTop";
@import "_btnWatts";


//IMPORT ARTICLES BLOGS//
@import "../scss/styles_articles/art__bucles";

//IMPORT FORMULARIOS FORMS
@import "../scss/formularios/form_sitios_web";