@import "../variables";

/*******HEADER CLONADO****************/
/*******HEADER CLONADO****************/
/*******HEADER CLONADO****************/
/*******HEADER CLONADO****************/




.contenedor{
    margin-top: 100px;
    width: 100%;
    max-width:1440px;
    background: $colorAzul;
    padding: 80px 0px;

    .contenedor__title{
        width: 80%;
        padding: 5px 0px;
        text-align: start;
        margin: auto;
        .title__sitio{
            color: $colorCelesteOscuro;
            font-size: 48px;
        }
        .descripcion__sitio{
            color: white;
            font-size: 20px;
        }
    }
    
    .contenedor__detalle__section{
        margin-top: 50px;
        width: 100%;
        padding: 10px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .contenedor__detalle{
            width: 380px;
            padding: 5px 10px;
            .detalle__block{
                margin: 5px 0px;
                color: white;
                font-size: 18px;
                .fa-circle{
                    width: 25px;
                    color: $colorVerde;
                    font-size: 12px;
                }
            }
            
        }

        .contenedor__der{
            width: 50%;
            padding: 10px 0px;
        }
    }

    .contenedor__centro{
        margin: 50px auto;
        width:80%;
        padding: 20px;
        .contCentro__title{
            text-align:start;
            color: white;
            font-size: 20px;
            line-height: 26px;
        }

        .contCentro__figura-movil{
            display: none;
        }
        
        .contenedor__form{
            margin-top: 20px;
            width: 100%;
            padding: 5px 0px;
            display: flex;
            flex-direction:column;
            .contenedor__name{
                margin-bottom: 15px;
                width: 100%;
                .formInput{
                    width: 100%;
                    border: none;
                    border-bottom: 2px solid $colorVerde;
                    outline: none;
                    padding: 5px;
                    background: $colorAzulTransparente;
                    color: white;

                }
            }

            .contTextarea{
                margin-top: 20px;
                padding: 5px;
                border: none;
                outline: none;
                background: transparent;
                border: 2px solid $colorVerde;
                color: white;
                max-width: 100%;
                min-width: 330px;
                min-height: 150px;
                max-height: 300px;
            }

            .contButon{
                width: 100%;
                padding: 4px 0px;
                border: 2px solid $colorVerde;
                border-radius: 5px;
                margin-top: 20px;
                background:$colorAzul;
                color: white;
                transition: 0.5s all;
            }

            .contButon:hover{
                background:$colorAzulOscuro;
                color: white;
                cursor: pointer;
            }
        }
    }

    
}








/*******FOOTER CLONADO****************/
/*******FOOTER CLONADO****************/
/*******FOOTER CLONADO****************/
/*******FOOTER CLONADO****************/